<br><center>
<h1 style="color: Brown;">Thank you for shopping with us!<br /><br></h1>
<img src="/assets/thankyou.jpeg" height="450px" width="100%">
<h3>Your order has been processed.<br />
A detailed email has been sent.<br /><br></h3>

<a href="/gallery/index">Click Here to Continue Shopping</a>
</center>